body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #71da776b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}


.logo img {
    width: 150px; 
    border-radius: 50%;
}

.menu {
    list-style: none;
    display: flex;
}

.menu li {
    margin:  20px;
}

.menu li a {
    text-align: center;
    text-decoration: none;
    color: #ffffff;
}

.menu li a:hover {
    color: #eeede7; 
}
.about-section {
    text-align: center;
    margin-top: 30px;
}

.about-section h1 {
    color: #333;
}


.vision,
.mision,
.historia {
    margin-bottom: 40px;
}

.vision h2,
.mision h2,
.historia h2 {
    color: #333;
}

.vision p,
.mision p,
.historia p {
    color: #666;
    line-height: 1.6;
}


.footer {
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}